<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="<%=description%>">
    <meta name="author" content="<%=author%>">
    <!-- styles -->
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <header>This is the header - same for all pages</header>
    <nav>
        <div class="topnav">
            <a href="customers_list">Home</a>
            <a href="#">Bye-Bye</a>
            <a href="#">Chair</a>
            <a href="products">Products</a>
            <a href="seasons">Seasons</a>
        </div>
    </nav>
    <p>Below is dynamic content - different from page to page</p>
    <div class="content"><%- content %></div>

    
    <footer>This is the footer - same for all pages</footer>
</body>

</html>