header, footer {
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 5px;
}
 
nav {
    background-color: blue;
}
 
table, tr, td {
    border: 1px solid black;
}
 
ul {
    background: #3399ff;
    padding: 20px;
}
 
ul li {
    background: #cce5ff;
    margin: 5px;
}
 
.topnav {
    overflow: hidden;
    background-color: #333;
}
 
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
 
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}